.projects {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr;
    gap: $spacing-5;
    padding-bottom: $spacing-5;
    grid-template-columns: 1fr;

    // replace with masonry and basic breakpoints laters
    @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*
.grid {
    max-width: 2800px;
    margin: auto;
    background-color: rebeccapurple;
    padding-left: $spacing-5;
    padding-right: $spacing-5;
}

    

.grid-item {
    display: inline-block;
    width: calc(100% / 3);


}

.one-four {
    width: calc(100% / 3);
}
*/