.projects {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr;
    gap: $spacing-5;
    padding-bottom: $spacing-5;
    grid-template-columns: 1fr;

    // replace with masonry and basic breakpoints laters
    @media screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
// mansory
.mansory-grid {
    width: 100%;
    height: auto;
    will-change: height;
    transition: height 666ms cubic-bezier(0.4, 0, 0.22, 1) 0s;

    figure {
        display: block;

        picture {
            position: relative;
            height: 1px;
            backface-visibility: hidden;
            margin: 0px;
            overflow: hidden;
        }
    }
}

.one-three,
.card {
    width: 100%;

    @media (min-width: 480px) {
        width: calc((100% - 16px)/ 2);
    }
    
    @media (min-width: 768px) {
        width: calc((100% - 16px * 2)/ 3);
    }
}