footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: $spacing-5;
    position: relative;
    z-index: 2;
    background-color: $background;
    padding-top: $spacing-5;
    padding-bottom: $spacing-5;
}