$grid-columns: 12;
$grid-gaps: (
    "0": 0,
    "1": $spacing-2,
    "2": $spacing-3,
    "3": $spacing-4,
    "4": $spacing-5,
);

// base layout
.container {
    max-width: 2800px;
    margin: auto;
    padding-left: $spacing-5;
    padding-right: $spacing-5;

}

.extra-margin {
    margin-bottom: 20vh;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

// grid gaps
@each $key, $val in $grid-gaps {
    .gap-#{$key} > * {
        padding: $val;
    }

    .gap-#{$key} {
        margin-left: -$val;
        margin-right: -$val;
    }
}

// col classes
@include xs {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xs {
            flex-grow: 0;
            width: ($i * 100% / $grid-columns);
        }
    }
}
@include sm {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-sm {
            flex-grow: 0;
            width: ($i * 100% / $grid-columns);
        }
    }
}
@include md {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-md {
            flex-grow: 0;
            width: ($i * 100% / $grid-columns);
        }
    }
}
@include lg {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-lg {
            flex-grow: 0;
            width: ($i * 100% / $grid-columns);
        }
    }
}
@include xl {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xl {
            flex-grow: 0;
            width: ($i * 100% / $grid-columns);
        }
    }
}
@include xxl {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xxl {
            flex-grow: 0;
            width: ($i * 100% / $grid-columns);
        }
    }
}