header {
    h1 {
        margin: 0 0 $spacing-4;
    }
    p {
        margin: 0;
    }
    
}

.header-banner {
    @include simple-grid;
    
}

.nav-links {
    display: flex;
    gap: $spacing-3;
}

.info-link {
    @include round-control;
    border: 1px solid $ui-05;
    &:hover, &:focus {
        background-color: $interactive-1;
        color: $inverse-1;
    }

}