.project{
    margin-top: 100vh;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: $background;
    position: relative;
    z-index: 2;
}

.project-content {
    margin-bottom: 20vh;
}