.card {
    margin-bottom: $spacing-6;

    h2 {
        margin: 0;
    }

    .image {
        margin-bottom: $spacing-3;
        position: relative;
        border-radius: $border-radius-3;
        overflow: hidden;

        img {
            object-fit: cover;
            object-position: center center;
        }
    }

    ul {
        li {
            display: inline;
            &:after {
                content: ", ";
            }
            &:last-child:after {
                content: "";
            }
        }
    }
}