.project-banner {
    justify-content: center;
    align-items: center;
    @include banner-height();
    
    > * {
        width: 100%;
        @include banner-height();
        position: fixed;
    }

    .banner-image {
        top: 0;
        overflow: hidden;
        z-index: 1;
    }

    .banner-text {
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            color: $text-01;
        }
    }

}