.project-banner {
    justify-content: center;
    align-items: center;
    @include banner-height();
    
    > * {
        @include banner-height();
        position: fixed;
        width: 100%;
    }

    .banner-image {
        top: 0;
        overflow: hidden;
        z-index: 1;

        img {
            height: 100%
        }
    }

    .banner-text {
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            color: var(--text-color-04);
        }
    }

}