.footer_theme-toggle {
    display: flex;
    gap: $spacing-2;
    align-items: center;

    .theme-toggle {
        display: inline-flex;
        align-items: center;
        background-color: var(--ui-01);
        height: 2rem;
        border-radius: 2rem*0.5;

        .theme-toggle_item {
            position: relative;

            .theme-toggle_control {
                appearance: none;
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;

                &:checked+.theme-toggle_text {
                    background-color: var(--ui-03);
                }

            }

            .theme-toggle_text {
                @include round-control;
            }
        }
    }
}