// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color-01);

  -webkit-font-smoothing: antialiased; // test

  text-size-adjust: none; // disables text inflation algorithm used on some smartphones and tablets
}

body {
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, figure {
  display: block;
  object-fit: cover;
  width: 100%;
  margin: 0;
}

ul {
  @include simple-list;
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
