h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}

%headings {
    color: $text-color-heading;
}

h2 {
    font-size: 1.25rem;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background;
    color: $text-color-body;
}

p {
    max-width: 75ch
}