h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}

// Components
@mixin round-control {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border-radius: 2rem*0.5;
  padding: 0 $spacing-4;
  text-decoration: none;
  color: $text-color-body;
  background-color: $ui-02;           
}

@mixin simple-list {
  list-style: none;
  padding: 0;
  margin: 0;
}