:root {
    --bg-color:black;
    --text-color-01: #f4f4f4;
    --text-color-02: #c6c6c6;
    --text-color-03: #6f6f6f;
    --text-color-04: #ffffff;
    --text-color-05: #8d8d8d;
    --inverse-01: black;
    --primary-color: #f4ff7a;
    --ui-01: #262626;
    --ui-02: #393939;
    --ui-03: #393939;
    --ui-04: #6f6f6f;
    --ui-05: #f4f4f4;
  }
  
  .lightmode {
    --bg-color:white;
    --text-color-01: #161616;
    --text-color-02: #525252;
    --text-color-03: #a8a8a8;
    --text-color-04: #ffffff;
    --text-color-05: #6f6f6f;
    --inverse-01: black;
    --primary-color: #f4ff7a;
    --ui-01: #f4f4f4;
    --ui-02: #ffffff;
    --ui-03: #e0e0e0;
    --ui-04: #8d8d8d;
    --ui-05: #161616;
  }